html, body {
  height: 100%;
  width: 100%;
}

h1 {
  text-align: center;
  padding: 50px;
  background-color: gray
}

#part1 {
  height: 100%;
  width: 100%;
  background-color: burlywood;
}

#list {
  margin-top: -45px;
}

#items {
  padding: 50px;
}